.image {
    height: 500px;
}
@media (max-width: 768px) {
    .image {
        height: 300px;
    }
}
.session-title {
    font-size: 18px;
}
.border-bottom-divider {
    border-bottom: 2px solid black;
}
.stiky-button-container {
    position: sticky;
    width: 100%;
    bottom: 10px;
    right: 0;
    display: flex;
    justify-content: flex-end;
}