.movie-box-container {
    border:1px solid lightgray;
    border-radius: 4px;
}
.movie-box-content {
    margin: 2em;
}
.image {
    height: 600px;
}
@media (max-width: 768px) {
    .image {
        height: 400px;
    }
}