<div *ngIf="!error">
    <div class="container mt-5">
        <div *ngFor="let movie of movieList" class="mb-3">
            <app-movie-box [movie]="movie" (click)="openMovieDetail(movie)"></app-movie-box>
        </div>
 
    </div>
    <div class="stiky-button-container">
        <button mat-fab color="primary" class="mr-3" (click)="addMovie()">
            <mat-icon>add</mat-icon>
          </button>
    </div>
</div>
<div class="error-container" *ngIf="error">
    <app-error [message]="errorMessage"></app-error>
</div>

