<div class="container">
    <form [formGroup]="movieForm">
        <div class="row mb-3">
            <h3 class="text-center col-12">{{ 'NEW.ADD_MOVIE' | translate}}</h3>
        </div>
        <div class="row">
            <mat-form-field class="col-xs-12 col-md-6 col-sm-6">
                <mat-label>{{ 'NEW.TITLE' | translate }}</mat-label>
                <input type="text" matInput formControlName="title" [placeholder]="'NEW.TITLE' | translate">
            </mat-form-field>
            <mat-form-field class="col-xs-12 col-md-6 col-sm-6">
                <mat-label>{{ 'NEW.POSTER' | translate }}</mat-label>
                <input type="text" matInput formControlName="poster" [placeholder]="'NEW.POSTER' | translate">
            </mat-form-field>
        </div>
        <div>
            
        </div>
    </form>
</div>