<div class="container">
    <form [formGroup]="movieForm" (ngSubmit)="onSubmit()">
        <div class="row mb-3">
            <h3 class="text-center col-12">{{ 'NEW.ADD_MOVIE' | translate}}</h3>
        </div>
        <div class="row mb-3">
            <mat-form-field class="col-xs-12 col-md-6 col-sm-6">
                <mat-label>{{ 'NEW.TITLE' | translate }}</mat-label>
                <input type="text" matInput formControlName="title" [placeholder]="'NEW.TITLE' | translate">
            </mat-form-field>
            <mat-form-field class="col-xs-12 col-md-6 col-sm-6">
                <mat-label>{{ 'NEW.POSTER' | translate }}</mat-label>
                <input type="text" matInput formControlName="poster" [placeholder]="'NEW.POSTER' | translate">
            </mat-form-field>
        </div>
        <div class="row mb-3">
            <mat-form-field class="col-xs-12 col-md-6 col-sm-6">
                <mat-label>{{ 'NEW.GENDERS' | translate }}</mat-label>
                <mat-chip-list #genderChipList>
                    <mat-chip *ngFor="let gender of genders" [selectable]="selectable" [removable]="true"
                        (removed)="removeGender(gender)">
                        {{gender}}
                        <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                    <input [placeholder]="'NEW.ADD_GENDERS' | translate" [matChipInputFor]="genderChipList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true"
                        (matChipInputTokenEnd)="addGender($event)">
                </mat-chip-list>
            </mat-form-field>
            <div class="col-xs-12 col-md-6 col-sm-6">
                <mat-form-field class="w-100">
                    <mat-label>{{ 'NEW.ACTORS' | translate }}</mat-label>
                    <mat-select formControlName="actor">
                        <mat-option *ngFor="let actor of actorList" [value]="actor"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (click)="addActor(actor)">
                            {{actor.first_name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-chip-list #actorChipList class="w-100">
                    <mat-chip *ngFor="let actor of actors" [selectable]="selectable" [removable]="true"
                        (removed)="removeActor(actor)">
                        {{actor.first_name}}
                        <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                </mat-chip-list>
            </div>

        </div>
        <div class="row mb-3">
            <mat-form-field class="col-xs-12 col-md-6 col-sm-6">
                <mat-label>{{ 'NEW.STUDIO' | translate}}</mat-label>
                <mat-select formControlName="studio">
                    <mat-option *ngFor="let studio of studios" [value]="studio">
                        {{studio.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="row mb-3">
            <mat-form-field class="col-xs-12 col-md-4 col-sm-4">
                <mat-label>{{ 'NEW.YEAR' | translate }}</mat-label>
                <input type="number" matInput formControlName="year" [placeholder]="'NEW.YEAR' | translate">
            </mat-form-field>
            <mat-form-field class="col-xs-12 col-md-4 col-sm-4">
                <mat-label>{{ 'NEW.DURATION' | translate }}</mat-label>
                <input type="number" matInput formControlName="duration" [placeholder]="'NEW.DURATION' | translate">
            </mat-form-field>

            <mat-form-field class="col-xs-12 col-md-4 col-sm-4">
                <mat-label>{{ 'NEW.RATING' | translate }}</mat-label>
                <input type="number" matInput formControlName="imdbRating" [placeholder]="'NEW.RATING' | translate">
            </mat-form-field>
        </div>
        <div class="d-flex justify-content-end">
            <button type="button" mat-raised-button color="accent" class="mr-2" (click)="resetForm()">{{'NEW.CANCEL' | translate}}</button>
            <button type="submit" mat-raised-button color="primary">{{ 'NEW.SAVE' | translate}}</button>
        </div>
    </form>
</div>